

 
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
   
        <span style="font-size: 25pt;font-weight: bold" >
      {{title}}</span>
          </div>
        </div>
                    <app-post-list *ngFor="let post of list_posts" [child_post]="post">
            
                </app-post-list>
    </div>
    
