
  <div [ngStyle]="{'background-color': get_color(),'border-style': 'solid','border-width':'thin','border-color':'grey','padding-right':'10px','padding-left':'10px','padding-top':'10px','padding-bottom':'10px'}">
              <div class="row">
                    <div class="col-lg-4">
                         <div [ngStyle]="{color:{on: '#3EA055', off: '#7D0552'}[blogStatus],'font-size': '25px', 'font-weight': 'bold','font-family':' Arial'}">
                        {{child_post_item.title}} 
</div>
                    </div>
                        <div class="col-lg-4">
</div>
<div class="col-lg-4">
        <p class="text-right">
        <i><b>{{child_post_item.created_at|  date: 'dd/MM/yyyy, HH:mm aaa'}}</b>
        </i>
        </p>
    </div>            
</div>
<div class="row">
        <div class="col-lg-12">
    {{child_post_item.content}}
</div>            
</div>
<div class="row">
        <div class="col-lg-2">
                <p class="text-left">
            <button class="btn btn-success" 
                (click)="loveIt()"> Love it</button> </p> 
</div>
<div class="col-lg-2">
        <p class="text-left">
    <button class="btn btn-danger" 
                (click)="dontLoveIt()">Don't Love it</button>  
</p>
            </div>
<div class="col-lg-offset-8">
</div>
</div>
